@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
  --primary-color: #3bb77e;
  --secondary :#ffba43;
  --bg: #e2f9ee;
  --black: #1c2137;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
  font-family: 'Roboto', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-transform: capitalize;
  text-decoration: none;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--primary-color);
  border-radius: 5rem;
}

section{
  padding: 2rem 7%;
}

.heading{
  text-align: center;
  padding: 1.2rem 0;
  margin-bottom: 3rem;
  color: var(--primary-color);
  color: #DD0024;
  text-transform: uppercase;
  font-size: 4rem;
}

.heading span{
  color: var(--secondary);
  color: #FFC108;
  text-transform: uppercase;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: 1.3rem 3.5rem;
  font-size: 1.7rem;
  color: var(--white);
  border-radius: .5rem;
  background: var(--primary-color);
  cursor: pointer;
  background: #DD0024;
}

.btn:hover{
  color: var(--white);
  background: var(--secondary);
  box-shadow: var(--box-shadow);
}



/*=================================================
                 Header Navbar
===================================================*/



.header .navbar-location select{
  padding: 8px 50px 8px 8px;
  border: none;
  gap: 5px;
  font-size: 16px;
  margin-top: 8px;
  color: #555;
}



.header .search-box button{
  background: none;
  /* border: 1px solid #FFC108; */
  /* padding: 8px 10px; */
  color: #888;
  font-size: 2rem;
}


.header .navbar-location{
  display: flex;
  align-items: center;
  padding: 8px 35px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 6px 0px;
  background: var(--white);
}

.search-box input{
  padding: 8px 20px;
  border: none;
  font-size: 16px;
}


.navbar-location .pip-line span{
  font-size: 22px;
  color: #888;
  padding-left: 20px;
}


.navbar-location .bi-geo-alt-fill{
  color: #DD0001;
  font-size: 22px;
}


/* header */

.header{
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 0rem 0%; */
  width: 100vw;
  height: 15vh;
}


.header .logo-section{
  display: flex;
  align-items: center;
}


.header .logo-section a{
  font-size: 3rem;
  font-weight: bolder;
}


.header .logo-section img{
  width: 45px;
  height: 55px;
  margin-right: 5px;
}



/* .header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
} */

/* .header .logo i{
  color: var(--secondary);
  padding-right: .5rem;
} */

/* 
.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover{
  color: var(--primary-color);
} */






.header .fas{
  font-size: 2.5rem;
}


.header .icons div{
  margin-left: 1.7rem;
  cursor: pointer;
  color: var(--black);
}

.header .icons div:hover{
  color: var(--primary-color);
}

#menu-btn {
  display: none;
}


.login-section 
.login-btn,
.card-btn{
  padding: 8px 10px;
  background: #FFC108;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
}

/* .card-btn{
  background: #FFC108;
} */



/* shopping-cart */

.header .shopping-cart{
  position: absolute;
  top: 115%; right: -105%;
  background: var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  padding: 2rem;
}

.header .shopping-cart.active{
  right: 2rem;
  transition: .4s linear;
}

.header .shopping-cart .box{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.header .shopping-cart .box .fa-times{
  position: absolute;
  top: 50%; right: 2rem;
  transform: translateY(-50%);
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

.header .shopping-cart .box .fa-times:hover{
  color: var(--secondary);
}

.header .shopping-cart .box img{
  height: 8rem;
}

.header .shopping-cart .box .content h3{
  font-size: 1.7rem;
  padding-bottom: .5rem;
  color: var(--black);
}

.header .shopping-cart .box .content h3:hover{
  color: var(--secondary);
}

.header .shopping-cart .box .content .price{
  font-size: 1.5rem;
  color: var(--black);
}

.header .shopping-cart .total{
  color: var(--black);
  font-size: 2.2rem;
  text-align: center;
}

.header .shopping-cart .total span{
  color: var(--black);
  font-weight: lighter;
}

.header .shopping-cart .btn{
  text-align: center;
  width: 100%;
}

/* end */

/* login form */

.header .login-form{
  position: absolute;
  top: 115%; right: -105%;
  background: var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  padding: 2rem;
}

.header .login-form.active{
  right: 2rem;
  transition: .4s linear;
}

.header .login-form h3{
  color: var(--black);
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: .7rem;
}

.header .login-form .box{
  margin: .7rem 0;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  color: var(--black);
  text-transform: capitalize;
  width: 100%;
}

.header .login-form .remember{
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: .7rem 0;
}

.header .login-form .remember label{
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .login-form .btn{
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}

/* end */



/*=================================================
                 Responsive Navbar
===================================================*/


@media only screen and (max-width: 1200px) {
  
.header .navbar-location{
  padding: 5px 25px;
}

.search-box input{
  padding: 5px 20px;
}

}


/* @media only screen and (max-width: 1050px){

.header{
  width: 100%;
  height: 100px;
  padding: 2rem 5%;
  overflow: hidden;
}

} */


@media (max-width: 991px){

  html{
    font-size: 50%;
  }

  .header{
    padding: 2rem 2rem;
  }

  section{
    padding: 1rem;
  }

  .search-box input{
    padding: 5px 10px;
  }

  .header .navbar-location{
    padding: 5px 15px;
  }

}

@media (max-width:768px){

  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 110%; right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: var(--white);
  }

  .header .navbar .active{
    right: 2rem;
    transition: .4s linear;
  }

  .header .navbar a{
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  .home .content h3{
    font-size: 4.5rem;
  }

  .about .row .image img{
    width: 100%;
    height: 50%;
  }

}

@media (max-width: 450px){
  html{
    font-size: 50%;
  }

  .home .content h3{
    font-size: 3.5rem;
  }
}




 /*=================================================
                Card-Slider - banner Section
  ==================================================*/


.wrapper {
  width: 100%;
  position: relative;
}


.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.2s linear;
}


.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 35px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 260px;
  width: 450px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  flex-direction: column;
  border-radius: 20px;
}

.carousel .card .img {
  background: #8B53FF;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}


/* -------------- Responsive ---------------- */




@media (min-width: 210px){

  .wrapper .carousel{
    grid-auto-columns: calc((100% / 1) - 10px);
    gap: 0px;
  }

  .carousel .card {
    height: 220px;
    width: 280px; 
  }

}



@media (min-width: 320px){

  .wrapper .carousel{
    grid-auto-columns: calc((100% / 1) - 10px);
    gap: 0px;
  }

  .carousel .card {
    height: 220px;
    width: 310px; 
  }

}



@media (min-width: 375px){

  .wrapper .carousel{
    grid-auto-columns: calc((100% / 1) - 35px);
    gap: 0px;
  }

  .carousel .card {
    height: 220px;
    width: 310px; 
  }

}



@media (min-width: 425px){

  .wrapper .carousel{
    grid-auto-columns: calc((100% / 1) - 30px);
    gap: 0px;
  }

  .carousel .card {
    height: 260px;
    width: 340px; 
  }

}



@media (min-width: 450px){

  .wrapper .carousel{
    grid-auto-columns: calc((90% / 1) - 40px);
  }

  .carousel .card {
    height: 290px;
    width: 380px; 
  }

}


@media (min-width: 590px){
  .wrapper .carousel{
    grid-auto-columns: calc((80% / 1) - 50px);
  }

}


@media (min-width: 750px){
  .wrapper .carousel{
    grid-auto-columns: calc((100% / 2) - 0px);
  }

}


@media (min-width: 900px){
  .wrapper .carousel{
    grid-auto-columns: calc((100% / 2) - 25px);
  }
}


@media screen and (min-width: 950px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (min-width: 1000px) {
  .wrapper .carousel {
    grid-auto-columns: calc((85% / 2) - 50px);
  }
}


@media screen and (min-width: 1200px) {
  .wrapper .carousel {
    grid-auto-columns: calc((75% / 2) - 50px);
  }
}



@media screen and (min-width: 1300px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 50px);
  }
}


/* ================================================= 
                      Product Section
  ==================================================*/


.product .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

#product h1{
  padding-bottom: 10px;
}


.product .box-container .box{
  text-align: center;
  background: var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
}

.product .box-container .box .image{
  height: 20rem;
  width: 100%;
  padding: 0px 0px 15px 0px;
}

.product .box-container .box .image img{
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.product .box-container .box .content{
  padding: 2rem;
  padding-top: 0;
}

.product .box-container .box .content h3{
  color: var(--black);
  font-size: 16px;
  margin-bottom: 1rem;
  font-weight: 400;
}

.product .box-container .box .content h4{
  position: absolute;
  left: 10%;
  bottom: 18%;
  font-size: 14px;
  font-weight: 200;
}

.product .box-container .box .content .add-btn-section{
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}


.product .content .add-btn-section button{
  padding: 6px 18px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  background: none;
  border: 1px solid #FFC108;
  box-shadow: 1px 1px 1px 0px #FFC108;
}


@media screen and (max-width: 768px){

  .heading-product-and-see-all-butn{
    margin-top: 5rem;
  }

  .heading-product-and-see-all-butn span{
    font-size: 18px !important;
    font-weight: 400px;
    padding-bottom: 10px;
  }

  .heading-product-and-see-all-butn a p{
    font-size: 16px !important;
  }

}


@media screen and (max-width: 1200px){

  .heading-product-and-see-all-butn{
    margin-top: 5rem;
  }

  .heading-product-and-see-all-butn span{
    font-size: 20px !important;
    font-weight: 500px;
    padding-bottom: 20px;
  }

  .heading-product-and-see-all-butn a p{
    font-size: 18px !important;
  }

}


@media screen and (max-width: 320px) {

  .product .box-container .box .image{
    height: 30rem;
    width: 100%;
    padding: 0px 0px 15px 0px;
  }


}




/* ================================================= 
                      About Section
  ==================================================*/


.about .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .content{
  flex: 1 1 50rem;
}

.about .row .content h3{
  color: var(--black);
  font-size: 3.5rem;
  line-height: 1.5;
  padding-top: 1rem;
}

.about .row .content .divider{
  background: var(--secondary);
  height: .3rem;
  display: inline-block;
  width: 20%;
}

.about .row .content p{
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #666;
  line-height: 2;
}

.about .row .image{
  flex: 1 1 30rem;
}

.about .row .image img{
  width: 100%;
  height: 100%;
}


.about .img-two{
  display: none;
}


@media screen and (max-width: 320px) {
 
 .about .heading {
    margin-bottom: 4px;
    margin-top: 8rem;
    font-size: 4rem;
}


.about .content h3 {
  font-size: 2.5rem !important;
}

.about .content p {
  font-size: 2rem !important;
}


.about .btn{
padding: 8px 20px;
cursor: pointer;
font-size: 18px;

}

}



@media screen and (max-width: 675px) {

  .about .row .image img{
    width: 50%;
  }
}


@media screen and (max-width: 500px) {
  .about .row .image img{
    width: 100%;
  }
}




@media screen and (max-width: 768px) {
  
  .about .heading {
     margin-bottom: 4px;
     margin-top: 8rem;
     font-size: 4rem;
 }
 
 .about .content h3 {
   font-size: 2.5rem !important;
 }
 
 .about .content p {
   font-size: 2rem !important;
 }
 
 
 .about .btn{
 padding: 8px 20px;
 cursor: pointer;
 font-size: 18px;
 
 }
 
 }



 
@media screen and (max-width: 1200px) {
  

  .about {
    margin-bottom: 20rem;
  }


  .about .heading {
     margin-bottom: 4px;
     margin-top: 8rem;
     font-size: 4rem;
 }
 
 .about .content h3 {
   font-size: 2.5rem !important;
 }
 
 .about .content p {
   font-size: 2rem !important;
 }
 
 .about .btn{
 padding: 8px 20px;
 cursor: pointer;
 font-size: 18px;
 
 }
 
 }



 
 



/* ================================================= 
                      Review Section
==================================================*/

/* 
.review-main .reviewItem article p{
  font-family:Arial, Helvetica, sans-serif;
}

.review .slide{
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  border: .1rem solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  position: relative;
}

.review .slide p{
  text-align: center;
  padding-bottom: .5rem;
  font-size: 1.5rem;
  line-height: 1.8;
  color: #666;
}

.review .slide .fa-quote-right{
  position:absolute;
  bottom: 3rem; right: 3rem;
  font-size: 6rem;
  color: var(--secondary);
}

.review .slide .user{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  background: var(--bg);
  padding: 1rem 1.5rem;
  border-radius: .5rem;
}

.review .slide .user img{
  height: 7rem;
  width: 7rem;
  border-radius: 15%;
  object-fit: cover;
}

.review .slide .user h3{
  color: var(--black);
  font-size: 2rem;
  padding-bottom: .5rem;
}

.review .slide .user i{
  font-size: 1.3rem;
  color: var(--primary-color);
}


.reviewSection .review{
  padding: 5px 5px;
}


 */


/* ================================================= 
                     Category-Headings and SeeALL btn
  ==================================================*/



.heading-product-and-see-all-butn{
  display: flex;
  justify-content: space-between;
}


.heading-product-and-see-all-butn span{
  font-size: 30px;
  font-weight: 350px;
}

.heading-product-and-see-all-butn a p{
  font-size: 20px;
  font-weight: 400px;
  cursor: pointer;
  color: black;
}
.heading-product-and-see-all-butn a p:hover{
 color: #DD0024;
}



/* ================================================= 
                      Contact Section
  ==================================================*/


.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row .image{
  flex: 1 1 30rem;
}

.contact .row .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact .row form{
  flex: 1 1 50rem;
  padding: 5rem;
  padding-top: 10rem;
}

.contact .row form .inputBox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .row form .inputBox input,
.contact .row form textarea{
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: black;
  text-transform: capitalize;
  border: .1rem solid transparent;
  background: var(--bg);
  background: #FFC108;
  border-bottom-color: var(--primary-color);
  border-radius: .5rem .5rem 0 0;
  width: 49%;
}

.contact .row form .inputBox input:focus,
.contact .row form textarea:focus{
  border-top-color: var(--primary-color);
  border-right-color: var(--primary-color);
  border-left-color: var(--primary-color);
}

.contact .row form textarea{
  width: 100%;
  resize: none;
  height: 15rem;
}


@media screen and (max-width: 320px) {
  
  .contact{
    margin-top: 45rem;
    padding-top: 10rem;
    margin-bottom: 10rem;
  }

  .contact .row form{
    padding: 2rem;
    padding-top: 2rem;
  }


}




@media screen and (max-width: 786px) {
  
  .contact{
    margin-top: 10rem;
    padding-top: 10rem;
    margin-bottom: 10rem;
  }

  .contact .row form{
    padding: 2rem;
    padding-top: 2rem;
  }

 .contact .heading {
    margin-bottom: 18px;
    font-size: 4rem;
}

}




/* ================================================= 
                      footer Section
  ==================================================*/

.footer{
  background: var(--bg);
  text-align: center;
  background-color: black;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  text-transform: capitalize;
  color: var(--primary-color);
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  line-height: 2;
  color: var(--black);
  padding: 1rem 0;
  color: #fff;
}

.footer .box-container .box .share{
  margin-top: 1rem;
}

.footer .box-container .box .share a{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 10%;
  font-size: 1.7rem;
  background: var(--primary-color);
  color: var(--white);
  margin-right: .3rem;
  text-align: center;
  color: #DD0024;
  background: #FFC108;
}

.footer .box-container .box .share a:hover{
  background: var(--secondary);
}

.footer .box-container .box .link{
  font-size: 1.7rem;
  line-height: 2;
  color: var(--primary-color);
  padding: .5rem 0;
  display: block;
  color: #fff;
}

.footer .box-container .box .link:hover{
  color: var(--secondary);
  color: red;
}

.footer .credit{
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--primary-color);
  border-top: .1rem solid var(--black);
}

.footer .credit span{
  color: var(--secondary);
}


/* ================================================= 
                   App Download Button
  ==================================================*/


.btn {
  background-color: red;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}



/* ================================================= 
                    Category Section
  ==================================================*/

.category .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
}

.category .box-container .box{
  text-align: center;
  background: var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
}

.category .box-container .box .image{
  height: 13rem;
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.category .box-container .box .image img{
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.category .box-container .box .content{
  padding: 10px 0px 15px 0px;

}

.category .box-container .box .content p{
  color: var(--black);
  font-size: 14px;

}


/* ================================================= 
                      slider Section
  ==================================================*/

  .slider {
    width: 100%;
    height: 40vh;
    margin-top: 10rem;
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }


  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .current {
    opacity: 1;
  }
  

/************* Slide content **************/ 

  
  .slide .content {
    position: absolute;
    bottom: 5%;
    left: -600px;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px 25px;
    width: 40%;
    line-height: 1.6;
    font-size: 14px;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.7s ease-in-out 0.3s;
  }
  
  .slide.current .content {
    opacity: 1;
    transform: translateX(0%);
    left: 0;
  }
  
  .content h1 {
    margin-bottom: 5px;
  }
  

/************* Slide Buttons **************/ 

  
  .slider-buttons {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
  }


  .next-btn,
  .prev-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    color: #f1f1f1;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    transition: all 0.3s ease;
  }


  .next-btn {
    position: absolute;
    right: 15px;
  }
  .prev-btn {
    position: absolute;
    left: 15px;
  }
  .next-btn:hover,
  .prev-btn:hover {
    background: #f1f1f1;
    color: black;
  }

/*================================================ 
                 background images
==================================================*/

  
  .slide:first-child {
    background: url("images/Khana\ Parcel\ \(1280\ x\ 234\ px\).png") no-repeat center center/cover;
  }
  .slide:nth-child(2) {
    background: url("https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=2700/layout-engine/2022-05/Group-33704.jpg") no-repeat center center/cover;
  }
  .slide:nth-child(3) {
    background: url("images/Khana\ Parcel\ \(1280\ x\ 234\ px\).png") no-repeat center center/cover;
  }



  @media screen and (max-width: 768px) {

    .slider {
      margin-top: 15rem;
      width: 100%;
      height: 20vh;
      overflow: none;
    }

  }



  @media screen and (max-width: 991px) {
  .next-btn,
  .prev-btn {
    width: 30px;
    height: 30px;
    font-size: 10px;
  }

  .slider {
    margin-top: 15rem;
    width: 100%;
    height: 20vh;
    overflow: none;
  }


  .slider-buttons {
      position: absolute;
      top: 25%;
    }

  }



  @media screen and (max-width: 991px) {

  .slider {
    margin-top: 15rem;
    width: 100%;
    height: 15vh;
  }


  .slider-buttons {
      position: absolute;
      top: 25%;
    }

  }


/*================================================ 
                 Client-Review
==================================================*/


.review-main {
    width: 100%;
    height: 50vh;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background-color: #FFC108; */
}

.review-main .reviewItem article p{
  font-family:Arial, Helvetica, sans-serif;
}

  

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.description {
    text-align: center;
    width: 43%;
}

.clientImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clientImage span {
    margin-left: 10px;
}

.clientImage img {
    width: 40px;
}

.reviewSection {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.reviewItem {
    width: 300px;
    padding: 10px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #FFC108;
    transition: all .2s linear;
}

.reviewItem:hover {
    border-color: #DD0024;
    transform: scale(1.01);
    background-color: #fff;
    box-shadow: 0 0px 5px 0px #cbc0c0;
    color: black;
}


.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style: none;
}

.top ul li {
    padding-left: 4px;
}

article p {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 1rem;
    font-family:'Times New Roman', Times, serif;
}


@media screen and (max-width:700px) {
  
  .container {
        height: auto;
  }

    .description {
        width: 90%;
    }
}


@media screen and (max-width: 1400px) {

  .review-main{
    margin-top: 15rem;
    margin-bottom: 15rem;
  }

}



@media screen and (max-width: 768px) {
  .review-main{
    margin-top: 10rem;
    padding-top: 10rem;
    margin-bottom: 10rem;
  }

}



@media screen and (max-width: 675px){

.review-main{
    margin-top: 30rem;
    padding-top: 5rem;
    margin-bottom: 25rem;
}

.reviewItem {
  width: 450px;
  padding: 20px;
}

}




@media screen and (max-width: 570px){


.review-main{
  margin-top: 40rem;
  margin-bottom: 30rem;
}


  .reviewItem {
    width: 300px;
    padding: 20px;
  }

  }




@media screen and (max-width:375px) {
    .reviewSection {
        padding: 0;
    }

    .reviewItem {
        width: 100%;
    }

    .clientImage {
        margin-bottom: 0.6rem;
    }

    .top {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}


@media screen and (max-width: 320px) {
  .review-main{
    margin-top: 40rem;
    padding-top: 10rem;
  }

}



/*================================================================================
==================================================================================
                           Category Page Start
=================================================================================
=================================================================================*/


.category-container{
  width: 100%;
  height: auto;
  display: flex;
  /* background-color: #222; */
  margin-top: 12rem;
  position: relative;
}


/*=================================================
         container-left || Product Section
==================================================*/


.category-container .container-left{
  width: 80%;
  height: auto;
  /* background-color: #DD0001; */
  position: absolute;
  right: 0;
}


.product {
    padding: 4rem 3%;
}


.product .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  gap: 1rem;
}


.product .box-container .box .image{
  height: 18rem;
  width: 100%;
  padding: 0px 0px 10px 0px;
}

.product .box-container .box .content{
  padding: 8px;
}


.product .box-container .box .content h3{
  font-size: 14px;
  margin-bottom: 1rem;
  font-weight: 400;
}

.heading-product-and-see-all-butn span{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.product .content .add-btn-section button{
  padding: 5px 11px;
}


@media screen and (min-width: 310px) and (max-width: 1200px){

  .heading-product-and-see-all-butn span{
    margin-bottom: 1rem;
  }

  .product {
    padding: 0.5rem 2%;
  }

}


@media screen and (max-width: 320px){

  .heading-product-and-see-all-butn{
    margin-top: 2rem;
  }

  .product {
    padding: 1rem 1%;
}

}





@media screen and (min-width: 375px){
.product .box-container{
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
}


.product .box-container .box .image{
  height: 22rem;
  width: 100%;
  padding: 0px 0px 10px 0px;
}


}




/*=================================================
         container-right || iteam-card
==================================================*/



.category-container .container-right{
  width: 20%;
  height: auto;
  /* background-color: #999; */
  position: fixed;
  left: 0;
}



.card {
  /* width: 100%; */
  /* margin: 5px; */
  /* background: #222; */
  padding: 10px;
  display: flex;
  border: 1px solid #99999935;
}

.card img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.card a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.card a p{
  color: #444;
  font-size: 18px;
  font-weight: 500;
}


@media screen and (min-width: 310px) and (max-width: 1400px){

.card img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.card a {
  gap: 10px;
}

.card a p{
  font-size: 16px;
  font-weight: 500;
}

}



